---
interface Props {
	image: string;
	title: string;
}
const slug = Astro.url.pathname.split("/");
const param1 = slug[1];
const param2 = slug[2];

const { title, image } = Astro.props;
---

<section class="banner">
	<div class="w-full max-h-[50vh] overflow-hidden">
		<img
			src={image}
			class="object-cover"
		/>
	</div>
	<div class="bg-[#F4F4F4]">
		<div class="row py-[2em] lg:py-[6.5em] text-center">
			<h2 class="text-[#343434] inline-block text-center font-bold leading-tight capitalize">{title}</h2>
			<p class="italic font-normal pt-4"><a href={"/" + param1}>{param1}</a> / {param2}</p>
		</div>
	</div>
</section>
