<header class="header">
	<div class="row py-2 lg:py-6 flex flex-col lg:flex-row justify-between">
		<div class="logo flex items-center justify-between">
			<a
				href="https://rcp.co.id/"
				class="flex justify-center grow">
				<img
					src="/assets/logo.png"
					alt="Rcp Logo"
				/>
			</a>
			<div class="hamburger absolute transform duration-200 ease-out right-0 w-12 h-12 rounded-full cursor-pointer flex justify-center items-center lg:hidden">
				<span class="hamburger-box relative focus:outline-none flex flex-col justify-between">
					<span class="hamburger-inner-1 transform duration-200 ease-in"></span>
					<span class="hamburger-inner-3 transform duration-200 ease-in"></span>
				</span>
			</div>
		</div>
		<div class="mobile-nav">
			<ul class="py-4 w-full flex flex-col items-center">
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/products">Products</a></li>
				<li><a href="/services">Services</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</div>
		<div class="nav flex items-center">
			<ul class="gap-2 hidden lg:flex flex-row">
				<li><a href="https://rcp.co.id/">Home</a></li>
				<li><a href="https://rcp.co.id/about">About</a></li>
				<li><a href="https://rcp.co.id/products">Products</a></li>
				<li><a href="https://rcp.co.id/services">Services</a></li>
				<li><a href="https://rcp.co.id/contact">Contact</a></li>
			</ul>
		</div>
		<div class="agents flex items-center py-2 lg:py-0 justify-center">
			<img
				src="/assets/agents.png"
				alt="Agents"
			/>
		</div>
	</div>
</header>
