<div class="swiper mySwiper">
	<img
		src="/assets/rip-top.png"
		class="absolute z-50"
	/>
	<div class="swiper-wrapper">
		<div class="swiper-slide"><img src="/assets/header-product-survitec222.jpg" /></div>
		<div class="swiper-slide"><img src="/assets/header-habekke.jpg" /></div>
		<div class="swiper-slide"><img src="/assets/header-product-osmosis.jpg" /></div>
	</div>
	<div class="swiper-pagination"></div>

	<div class="swiper-button-next"></div>
	<div class="swiper-button-prev"></div>

	<img
		src="/assets/rip-bottom.png"
		class="absolute z-50 bottom-0"
	/>
</div>
