/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--swiper-pagination-color: white;
		--swiper-navigation-color: white;
		--swiper-navigation-size:18px;
		--swiper-navigation-sides-offset:20px
	  }
	  
	@import url('https://fonts.googleapis.com/css?family=Lora:400,400italic,700|Montserrat:400,700');

	html {
		font-family: "Montserrat", sans-serif;
        -webkit-font-smoothing: antialiased;
	}
	.row a{
		@apply text-[#2C4793] 
	}
	.header a{
		@apply text-[rgb(118_118_118)]
	}
	body {
		@apply font-normal text-dark;
	}
    h1{
        @apply text-[3.5em] font-semibold;
    }
    h2{
        @apply text-[2.8125em];
    }
    h4{
        @apply text-[1.5em] text-[#343434] mb-[1.625em];
    }
	strong{
		@apply text-[#343434];
	}
    p{
        @apply text-[1em] font-normal text-[#767676] mb-[1.625em] leading-relaxed
    }
	li{
		@apply text-[1em] font-normal text-[#767676] mb-[1em]
	}

    .nav > ul > li > a {
        padding: 0 1.3em 0 0;
        height: 100%;
        display: inline-block;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 12px;
    }
	footer .nav > ul > li > a {
		@apply text-white
    }
    .button{
        @apply transform duration-300 ease-in bg-[#ec1d23] uppercase text-white text-[0.625em] rounded-[100px] px-[1.625em] py-[.8em] tracking-wider
    }
	a.button {
        @apply  text-white
    }
	.button:hover{
        @apply bg-[#BD1A30]
    }
	.swiper {
		width: 100%;
		height: 100%;
	  }
  
	  .swiper-slide {
		text-align: center;
		font-size: 18px;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
	  }
  
	  .swiper-slide img {
		@apply block min-h-[400px] h-full w-full object-cover;
	  }

	  input, textarea{
		@apply px-6 py-4 w-full mb-4
	  }
	  ::placeholder {
		@apply italic
	  }

}

@layer components {
	.text-balance {
		text-wrap: balance;
	}
	/* ------------------------- CUSTOM CONTAINER -------------------------------------------------- */

	.row {
		@apply relative mx-auto w-full max-w-full lg:max-w-[1170px] px-[18px] py-[2.5em] lg:py-[6.5em];
	}
    .row-small{
        @apply relative mx-auto w-full max-w-full lg:max-w-[780px] px-[16px];
    }




	/* ------------------------- HEADER -------------------------------------------------- */
	.hamburger-box {
		@apply w-[18px] h-[10px];
	}
	.hamburger-inner-1,
	.hamburger-inner-3 {
		@apply h-[2px] bg-[#343434];
	}
	.hamburger.active .hamburger-inner-1 {
		@apply translate-y-[4px] rotate-45;
	}
	.hamburger.active .hamburger-inner-3 {
		@apply -translate-y-[4px] -rotate-45;
	}
	.hamburger.active .hamburger-inner-1,
	.hamburger.active .hamburger-inner-3 {
		@apply bg-[#343434];
	}
	.mobile-nav{
		@apply  h-0 block invisible
	}
	.mobile-nav ul li{
		@apply  mb-0 py-2
	}

	.mobile-nav.active{
		@apply  h-full visible
	}

	.header {
		@apply transform duration-300 ease-in w-full bg-white  flex justify-center;
	}
	.header img{
		@apply transform duration-300 ease-in
	}
	.header .logo img{
		@apply h-[65px]
	}
	.header .agents img{
		@apply h-[60px]
	}
	.header.scroll-scrolled {
		@apply  fixed z-50 shadow-lg ;
	}
	.header.scroll-scrolled .logo img{
		@apply h-[50px] lg:h-[65px]
	}
	.header.scroll-scrolled .agents img{
		@apply h-[50px] lg:h-[60px]
	}
	.header.scroll-scrolled .agents{
		@apply hidden lg:flex
	}



	/* ------------------------- ANIMATION -------------------------------------------------- */
	.animategroup-slide > *,
	.animated,
	.animate-bottom-top,
	.animate-group-bottom-top {
		@apply opacity-0;
	}
	.animate-image {
		opacity: 0;
		clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
	}

	/* ------------------------- SWIPER -------------------------------------------------- */
	.slideshow-swiper .swiper-pagination-slideshow.swiper-pagination-horizontal {
		@apply c-container bottom-3 md:bottom-10  mx-auto flex justify-start;
	}
	.slideshow-swiper .swiper-pagination-slideshow .swiper-pagination-bullet {
		@apply md:max-w-[100px] justify-items-start h-[1em] bg-transparent before:h-[3px] before:bg-primary relative rounded-none w-full  flex opacity-50 flex-col justify-center;
	}

	.slideshow-swiper .swiper-pagination-slideshow .swiper-pagination-bullet.swiper-pagination-bullet-active {
		@apply h-[1em] bg-transparent before:h-[3px] before:bg-primary opacity-100;
	}


	/* ------------------------- FOOTER -------------------------------------------------- */
	.footer-bottom .prose p {
		@apply text-sm;
	}
	iframe {
		width: 100%;
		height: auto;
		aspect-ratio: 16 / 9;
	}
}
